{% extends 'tnavbar.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<style>
    body{
        background-image: url("{% static 'images/pic7.jpg' %}");
        background-repeat: no-repeat;
        background-size: 100% 1000px;
    }
    table{
        width: 100%;
        text-align: center;
        margin-top: 50px;
    }
    th{
        height: 70px;
        background-color: rgb(97, 97, 188);
        border: 2px solid;
    }
    td{
        border: 2px solid;
    }
    
</style>
<body>
    <div class="container">
        <h1 style="text-align: center;">Details of Teachers</h1>
        <table border="2px solid black">
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Age</th>
                <th>Address</th>
                <th>Image</th>
                <th>Course Name</th>
               
                <th>Delete</th>


            </tr>
            
            {% for p in tc %}
           
            <tr>
                
                <td>{{p.id}}</td>
                <td> {{p.user.username}}</td>
                <td>{{p.age}}</td>
                <td>{{p.address}}</td>
                <td> <img src="{{p.image.url}}" height="100" width="100" alt=""></td>
                <td>{{p.course.coursename}}</td>
               
                <td><Button>
                    <a href="{% url 'tdelete' p.id %}">Delete</a>
                </Button></td>
            </tr>
            
            {% endfor %}
            
            
           
            

        </table>
    </div>
    
{% endblock %}     
</body>
</html>